.Rubik-font{
    font-family: 'Rubik Wet Paint', cursive;
}
.Ysabeau-font{
    font-family: 'Ysabeau Infant', sans-serif;
}
.Chango-font{
    font-family: 'Rubik', sans-serif;
}
.w-60{
    width: 60%;
}
